.home__add{
    background:rgba(95, 91, 91,0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

   .home__add1{
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    background-color: rgb(46, 44, 44);
    border-radius: 10px;

    h3{
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    form{
        display: flex;
        flex-direction: column;
        color: #fff;
        gap: 10px;

        label{
          margin-left: 10%;
        }

        input{
            max-width: 50%;
            margin:auto 130px;
            border-radius: 10px;
        }
    }
}


}